.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: visible;
    z-index: 99;
    clear: both;
    background-color: rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
  }

.footer-links {
    float: left;
    color: rgba(0,0,0,.7);
    font-size: 13px;
}
.ftrCopy {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}
.ftrTerms,
.ftrPrivacy {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}