.video_board {
  display: flex;
}

.canvas {
  height: calc(100% - 92px);
}


.sub {
  
}

.chat-pane {
  width: 100%;
  height: 100%;
}

.code-area, 
.code-area div:nth-child(3), 
.code-area div:nth-child(3) > div {
  height: calc(100% - 16px);
}

.code-area-ide {

}